<div class="form">
  <%= form_for(@recipe) do |f| %>
    <% if @recipe.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

        <ul>
        <% @recipe.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field textfield">
      <%= f.label :name %><br>
      <%= f.text_field :name, :size => 50 %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      Cost<br>
      <%= number_field_tag(:cost) %>
    </div>
    <strong>Ingredients: </strong>
    <br>
    <br>
        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
        <% cbi.label(class: "checkbox-inline input_checkbox") {cbi.check_box(class: "checkbox") + cbi.text} %>
        <%end%>
      <br><br>
    <div class="actions">
      <%= f.submit nil, :class=>'btn btn-success' %>
    </div>
  <% end %>

</div>
