<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Almacen Loco</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                  <a href="/recipes">Recetas</a>
              </li>
              <li>
                  <a href="/ingredients">Ingredientes</a>
              </li>
              <li>
                  <a href="/dishes">Platillos</a>
              </li>
              <li>
                  <a href="/subingredients">Almacen</a>
              </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="index">
  <p id="notice"><%= notice %></p>

  <h1>Listing Recipes</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.description %></td>
          <td><%= link_to 'Show', recipe, :class=>'btn-sm btn-success' %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe), :class=>'btn-sm btn-warning'  %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn-sm btn-danger'  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <div class="new-button"><%= link_to 'New Recipe', new_recipe_path, :class=>'btn btn-success'  %></div>
</div>
