<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Almacen</title>


</head>

<body>

    

    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Sistema de administración Loco</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large">Entrar al almacen</a>
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Administra</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("recipe.png", :alt => "recipe") %>
                    <div class="caption">
                        <h3>Recetas</h3>
                        <p>Ingresa para ver todas las recetas disponibles</p>
                        <p>
                          <%= link_to 'Ver Recetas', recipes_path, :class=>'btn btn-primary' %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("alma.jpeg", :alt => "recipe") %>
                    <div class="caption">
                        <h3>Almacen</h3>
                        <p>Ingresa para ver los productos guardados en el almacen</p>
                        <p>
                            <%= link_to 'Ver Almacen', subingredients_path, :class=>'btn btn-primary' %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("dish.png", :alt => "recipe") %>
                    <div class="caption">
                        <h3>Ver platillos</h3>
                        <p>Ingresa para ver los platillos disponibles</p>
                        <p>
                            <%= link_to 'Ver Platillos', dishes_path, :class=>'btn btn-primary' %>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("food.jpg", :alt => "recipe") %>
                    <div class="caption">
                        <h3>Ingredientes</h3>
                        <p>Ingresa para ver los ingredientes disponibles</p>
                        <p>
                            <%= link_to 'Ver Ingredientes', ingredients_path, :class=>'btn btn-primary' %>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; YocoLoco Company 2016</p>
                </div>
            </div>
        </footer>

    </div>

</body>

</html>
