<div class="form">
  <%= form_for(@subdish) do |f| %>
    <% if @subdish.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@subdish.errors.count, "error") %> prohibited this subdish from being saved:</h2>

        <ul>
        <% @subdish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, :value => params[:nom] %>
    </div>
    <div class="field">
      <%= f.label :amount %><br>
      <%= f.text_field :amount %>
    </div>
    <div class="field">
      <%= f.label :exp_date %><br>
      <%= f.date_select :exp_date %>
    </div>
    <div class="actions">
      <%= f.submit nil, :class=>'btn btn-success'  %>
    </div>
  <% end %>

</div>
