<p id="notice"><%= notice %></p>

<h1>Listing Subingredients</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Amount</th>
      <th>Exp date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subingredients.each do |subingredient| %>
      <tr>
        <td><%= subingredient.name %></td>
        <td><%= subingredient.amount %></td>
        <td><%= subingredient.exp_date %></td>
        <td><%= link_to 'Show', subingredient %></td>
        <td><%= link_to 'Edit', edit_subingredient_path(subingredient) %></td>
        <td><%= link_to 'Destroy', subingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subingredient', new_subingredient_path %>
